
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_ORACLE_CONTRACT_ID=CDODBA324UYHLANYPY7DYXOD74Q4FYGHG2ML3FL3FOKZLI6Z6PAXE7JE
NEXT_PUBLIC_ZK_VERIFIER_CONTRACT_ID=CB5U3SKI5PFT65AOXA321GEWHRQY3TF7EQ26MGNY5OVXSAMBH3YLCXBR
NEXT_PUBLIC_VAULT_CONTRACT_ID=CB7F4OTYEZEQQQUY4XM72LG4BYVAIYAIM4HVL5DFQOF7FHYY4RCC4HVQ
NEXT_PUBLIC_LENDING_CONTRACT_ID=CDM3SGASPH2CYWDPBVRLECYJFMQVJB3PE6MFQCE2L3BYZWQW3HMYKFWD
NEXT_PUBLIC_USDC_CONTRACT_ID=CDBALTDM4GB75L7CJ7XR5TVBBCEEOPIVN4URWBT4CWLKSOQSH374KM61
